<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
    <style media="screen">
      li{
        list-style: none;
        display: inline;
      }
    </style>
    <ul>
      <li><a href="/">Home</a> </li>
      <li><a href="/about">About</a> </li>
    </ul>
  </head>
  <body>
    <center>
    <h1>{{pageTitle}}</h1>
